$border: 1px solid #ccc;

.project {
  width: 100vw;
  height: calc(100vh - 30px);
  padding: 10px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 10px;

  .project-left {
    width: 100%;
    height: 100%;
    border: $border;
    padding: 10px;

    .project-files-panel {
      width: 100%;
      height: 300px;
      border: $border;
      background-color: #f1f3f4;
      margin-bottom: 10px;
    }
  }

  .project-right {
    width: 100%;
    height: 100%;
    border: $border;
    padding: 10px;
  }
}
