.project-card {
  // height: 80px;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 4px;
  cursor: pointer;

  .project-card-base {
    display: flex;
    grid-column-gap: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;

    .project-card-info {
      flex: 1;
      height: 55px;
      display: grid;
      grid-row-gap: 4px;
      grid-template-rows: 18px 1fr;

      .project-card-name {
        flex-shrink: 0;
        @extend %one-ellipsis;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
      }

      .project-card-description {
        width: 100%;
        font-size: 12px;
        word-break: break-all;
        @extend %two-ellipsis;
        color: #999;
        // text-decoration: underline;
      }

      .project-card-createtime {
        font-size: 12px;
        line-height: 12px;
        color: #999;
      }
    }
  }

  .project-card-badge {
    li {
      font-size: 12px;
      padding: 2px 10px;
      background-color: #da98d3;
      float: left;
      margin-right: 4px;
      margin-top: 4px;
      color: #fff;
    }
  }
}
