%text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// vertical-center
%v-center {
	display: flex;
	align-items: center;
}
// horizontal-center
%h-center {
	display: flex;
	justify-content: center;
}
%vh-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%transition {
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

%title {
	position: relative;
	&::before {
		content: '';
		width: 4px;
		height: 50%;
		background-color: #0081ff;
		position: absolute;
		left: 0px;
		border-radius: 4px;
	}
}
