*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
body .el-message--success {
	background-color: rgba(43, 110, 231, 0.8);
	border: none;
}
body .el-message--success .el-message__content,
body .el-message .el-icon-success {
	color: #fff;
}

body .el-message--error {
	background-color: rgba(245, 108, 108, 0.8);
	border: none;
}
body .el-message--error .el-message__content,
body .el-message .el-icon-error {
	color: #fff;
}