//颜色 背景 字体的配置文件

$menubgc:#f2f3f7;

$maincolor: #2b6ee7;
$main_font_color: #fff;

$midcolor:#5b8ae0;
$mid_font_color: #fff;

$lightcolor:#bdcff3;
$light_font_color: #fff;

$deepcolor: #225cc9;
$deep_font_color: #fff;