* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
}
.layout-container {
	width: 100%;
	height: 100%;
	display: flex;
}
.layout-container-view {
	width: calc(100% - 141px);
	height: 100%;
}
/*------*/
/* menu */
/*------*/
.menu {
	width: 141px;
	height: 100%;
	background-color: #f2f3f7;
}
.menu .logo {
	width: 100%;
	height: 61px;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	/* background-color: red; */
}
.menu .logo i {
	font-size: 22px;
	color: #000;
}
.menu i {
	margin-right: 8px;
}
.menu-list {
	padding: 0 10px;
}

.menu-list li {
	height: 34px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding-left: 8px;
	border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
}
.menu-list li span {
	height: 34px;
	line-height: 33px;
}

.menu-list .add {
	margin-bottom: 40px;
	/* border: 2px solid #2b6ee7; */
	background-color: #558bec;
	color: #fff;
}
.menu-list li.active {
	background-color: #2b6ee7;
	color: #fff;
}
.menu .menu-item {
	background-color: #bdcff3;
	color: #fff;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-list h4 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
	font-weight: bold;
}

.container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: hidden;
}
.container header {
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-shell {
	/* width: 260px; */
	height: 100%;
	/* background-color: blue; */
	position: relative;
	
	border-radius: 4px;
}
.search-shell input {
	width: 200px;
	height: 100%;
	border: none;
	outline: none;
	background-color:#2b6ee7;
	border: 2px solid #2b6ee7;
	border-radius: 4px;
	padding-left: 10px;
	color: #fff;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-shell.empty input{
	width: 260px;
	background-color: #fff;
	border: 2px solid #2b6ee7;
}
.search-shell i.clear{
	color: #fff;
	font-weight: normal;
}
.search-shell input::-webkit-input-placeholder {
	color: #bdcff3;
}
.search-shell>i {
	position: absolute;
	right: 10px;
	top: calc((100% - 16px) / 2);
	color: #2b6ee7;
	font-weight: 700;
	cursor: pointer;
	
}
.search-shell>span {
	position: absolute;
	top: 0;
	right: -40px;
	width: 34px;
	height: 34px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin-left: 10px;
	background-color:#2b6ee7;
	cursor: pointer;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-shell>span:active{
	background-color: #bdcff3;
}
.develop-info {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
}
.develop-info img {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 10px;
}
.set {
	width: 30px;
	height: 30px;
	background-color: #2b6ee7;
	border-radius: 4px;
	margin-left: 10px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.set i {
	margin-right: 0;
	font-weight: normal;
}
.mode {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 10px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mode i {
	margin-right: 0;
	font-weight: normal;
}
.mode-dark {
	background-color: #21252b;
	color: #cad1d9;
}
.mode-light {
	background-color: #2b6ee7;
	color: #fff;
}
.table {
	width: 100%;
	margin-top: 20px;
	user-select: none;
}
.table-empty {
	width: 100%;
	height: 400px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #bdcff3;
	border-radius: 4px;
}
.table-empty img {
	width: 60%;
}
.table-empty h6 {
	font-size: 18px;
	margin-top: 20px;
	font-weight: normal;
	color: #c3c3c3;
}
.table-empty h6 i{
	margin-right: 10px;

}
.table i {
	margin-right: 4px;
}
.table-header {
	/* border-bottom: 1px solid #dedede; */
	/* margin-bottom: 10px; */
	/* padding-bottom: 6px; */
	box-sizing: content-box;
	background-color: #2b6ee7;
	border-radius: 4px;
	/* font-weight: bold; */
	color: #fff;
	font-size: 12px;
	height: 36px !important;
	margin-bottom: 10px;
}
.table-header li {
	cursor: pointer;
}
.table-header i {
	margin-left: 8px;
	font-weight: normal;
	font-size: 16px;
}
.table ul {
	display: flex;
	align-items: center;
	height: 46px;
	border-bottom: 1px solid #dedede73;
	padding: 0 10px;
}
.table li {
	font-size: 13px;
	height: 100%;
	line-height: 20px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table li:nth-child(1) {
	width: 30%;
}
.table li:nth-child(2) {
	width: 10%;
}
.table li:nth-child(3) {
	width: 30%;
}
.table li:nth-child(4) {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}
.table-body {
	margin-top: 20px;
	height: 340px;
	overflow-y: scroll;
	border-radius: 8px;
}
.table-body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #f2f3f7;
}
.table-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #bdcff3;
}
.table-content li:nth-child(1) i {
	color: #2b6ee78c;
}
.table-header li:nth-child(4) {
	padding-right: 50px;
}
.table-content li:nth-child(3) {
	cursor: pointer;
}
.table-content li:nth-child(4) i {
	color: #2b6ee78c;
	cursor: pointer;
	font-size: 16px;
	margin-right: 10px;
}
.table-content li i:active {
	color: #2b6ee7;
}

.node,
.vue,
.js,
.react {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.node i,
.vue i,
.js i,
.react i {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	/* background-color: red; */
}
.node i {
	background-color: #83bb02;
}
.vue i {
	background-color: #40b883;
}
.react i {
	background-color: #05d7fb;
}
.js i {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #ffca28;
}

body .el-message--success {
	background-color: rgba(43, 110, 231, 0.8);
	border: none;
}
body .el-message--success .el-message__content,
body .el-message .el-icon-success {
	color: #fff;
}

body .el-message--error {
	background-color: rgba(245, 108, 108, 0.8);
	border: none;
}
body .el-message--error .el-message__content,
body .el-message .el-icon-error {
	color: #fff;
}


