.menu {
	width: 141px;
	height: 100%;
	background-color: #f2f3f7;
}
.menu .logo {
	width: 100%;
	height: 61px;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	/* background-color: red; */
}
.menu .logo i {
	font-size: 22px;
	color: #000;
}
.menu i {
	margin-right: 4px;
}
.menu-list {
	padding: 0 10px;
}

.menu-list li {
	height: 34px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding-left: 8px;
	border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
}
.menu-list li span {
	height: 34px;
	line-height: 33px;
}

.menu-list .add {
	margin-bottom: 40px;
}
.menu-list li.active {
	background-color: #2b6ee7;
	color: #fff;
}
.menu-list h4 {
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 10px;
}
